[Unit]
Description=Kanata tray
Documentation=https://github.com/jtroo/kanata-tray
After=graphical.target
Requires=graphical.target

[Service]
User=root
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:1
Environment=HOME=/home/isv
Type=simple
WorkingDirectory=/home/isv/repos/keyboards/kanata/kanata-tray
ExecStart=/home/isv/repos/keyboards/kanata/kanata-tray/start-kanata-tray.sh
ExecStartPre=/bin/sleep 2
Restart=always

[Install]
WantedBy=default.target
