[Unit]
Description=Kanata tray
Documentation=https://github.com/jtroo/kanata-tray

[Service]
User=root
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:1
Environment=HOME=/home/isv
Type=simple
WorkingDirectory=/home/isv/repos/keyboards/kanata/kanata-tray/
ExecStart=/bin/bash -c ' \
#!/bin/bash \n\
sleep 20 \n\
export XAUTHORITY=$(find /run/user/1000/ -name 'xauth*' -type f -print -quit) \n\
env \n\
./kanata-tray-linux \
'
Restart=always

[Install]
WantedBy=multi-user.target
